<div
        mouse-capture
        ng-keydown="vm.keyDown($event)"
        ng-keyup="vm.keyUp($event)">
    <div class="btn-group">
        <button
                class="btn btn-primary"
                ng-click="vm.addNewNode()"
                title="Add a new node to the chart"
        >
            Add Node
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.addNewInputConnector()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0"
                title="Add a new input connector to the selected node"
        >
            Add Input Connector
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.addNewOutputConnector()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0"
                title="Add a new output connector to the selected node"
        >
            Add Output Connector
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.deleteSelected()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0 && vm.chartViewModel.getSelectedConnections().length == 0"
                title="Delete selected nodes and connections"
        >
            Delete Selected
        </button>
    </div>
    <figure class="highlight">
    <!--
    This custom element defines the flowchart.
    -->
    <flow-chart
            chart="vm.chartViewModel"
    >
    </flow-chart>
</figure>
</div>
