    <div class="credits text-center">
        <p>
            <a href="https://github.com/frouyer193/GuitarEffects_dev">Project Client/Server Side</a>
        </p>
        <p>
            Florian Rouyer - Lobonala - Jean-Philippe Kha
        </p>
        <p>
            <a href="http://www.polytechnice.fr/">&copy; Polytech Nice-Sophia</a>
        </p>
    </div>
</body>
</html>