<style>
    .content{

        width: 250px;
        height:150px;
        color: #04acec;
    }
</style>



<div class="micro">
    <h3>activer micro</h3>
    <input type="checkbox" ng-model="vm.micro" ng-click="vm.activerMicro()">
</div>
<div class="content">
    <h3>effect Delay</h3>
    <input type="checkbox" ng-model="vm.delay" ng-click="vm.activerDelay()">
    <br>
    <label>Delay Time</label>
    <rzslider  rz-slider-model="vm.delayTime.value"  rz-slider-options="vm.delayTime.options"></rzslider>
    <label>FeedBack</label>
    <rzslider  rz-slider-model="vm.delayFeedback.value"  rz-slider-options="vm.delayFeedback.options"></rzslider>

    <h3>effect Reverb</h3>
    <input type="checkbox" ng-model="vm.reverb" ng-click="vm.activerReverb()">



</div>