





<div class="micro">
    <h3>activer micro</h3>
    <input type="checkbox" ng-model="vm.micro" ng-click="vm.activerMicro()">
</div>
<div class="content">
    <h3>effect Delay</h3>
    <input type="checkbox" ng-model="vm.delay" ng-click="vm.activerDelay()">
    <br>
    <label>Delay Time</label>
    <rzslider  rz-slider-model="vm.delayTime.value"  rz-slider-options="vm.delayTime.options"></rzslider>
    <label>FeedBack</label>
    <rzslider  rz-slider-model="vm.delayFeedback.value"  rz-slider-options="vm.delayFeedback.options"></rzslider>

    <h3>effect Reverb</h3>
    <input type="checkbox" ng-model="vm.reverb" ng-click="vm.activerReverb()">

    <h3>effect Gain Flo</h3>
    <input type="checkbox" ng-model="vm.GainLfo" ng-click="vm.activerGainLfo()">
    <rzslider  rz-slider-model="vm.lfoSpeed.value"  rz-slider-options="vm.lfoSpeed.options"></rzslider>

    <br><br>
    <h3>effect Chorus</h3>
    <input type="checkbox" ng-model="vm.chorus" ng-click="vm.activerChorus()">
    <rzslider  rz-slider-model="vm.chorusSpeed.value"  rz-slider-options="vm.chorusSpeed.options"></rzslider>


    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>


</div>