<!DOCTYPE html>
<html ng-app ="app">
    <head>
        <title>Audio</title>
        <link type="text/css" rel="stylesheet" href="CSS/audio.css" />
        <link type="text/css" rel="stylesheet" href="CSS/main.css" />
        <link type="text/css" rel="stylesheet" href="CSS/reset.css" />
        <script src="SCRIPTS/angular.min.js"></script>
        <script src="SCRIPTS/jquery-2.1.4.js"></script>
        <script src="SCRIPTS/dragMe1.js"></script>
        <script src="SCRIPTS/jsPlumb-2.0.5.js"></script>
    </head>

    <body ng-controller="ctrl">

        <div class="principale">

            </br> </br> </br>

            <div class="container" ng-click="change()">
                <select class="ajoutEffets"  >
                    <option ng-repeat="effet in effets">{{effet.titre}}</option>
                </select>
            </div>

            </br> </br>

            <div ng-click="mouseOver($index)" class="module audiobuffersource has-footer has-loop" ng-repeat="composant in composants" id="{{composant.id}}">

                <div  class="content" >
                    <img class="close" ng-src="{{composant.sup}}" width="20" height="20" ng-click="delete($index)"></img>
                    <h6 class="module-title">{{composant.h6}}</h6>
                    <img class="img" ng-src="{{composant.src}}" width="50" height="50"></img>
                </div>


            </div>

            <div id="output" class="destination"  >
		              <div class="node node-input" ><span  id="sortie" class="node-button">&nbsp;</span></div>
            </div>
        </div>

    </body>
     <script src="SCRIPTS/audio.js"></script>
 </html>
