/*Passage sur l'image' */
.img:hover{
    background-color: blueviolet;
}
.close:hover{
    
}
.con{
    background-color:white;
}
#log{
    color: wite;
    background-color:white;
    width:500px;
    height:100px;

}
.plumb svg circle{
    stroke:black; 
    fill:yellow
}