<div
        mouse-capture
        ng-keydown="vm.keyDown($event)"
        ng-keyup="vm.keyUp($event)">


    <div class="btn-group">


        <button
                class="btn btn-primary"
                ng-click="vm.addNewInputConnector()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0"
                title="Add a new input connector to the selected node"
        >
            Add Input Connector
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.addNewOutputConnector()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0"
                title="Add a new output connector to the selected node"
        >
            Add Output Connector
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.deleteSelected()"
                ng-disabled="vm.chartViewModel.getSelectedNodes().length == 0 && vm.chartViewModel.getSelectedConnections().length == 0"
                title="Delete selected nodes and connections"
        >
            Delete Selected
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.startSound()"
                title="Start sound">
            Play sound
        </button>
        <button
                class="btn btn-primary"
                ng-click="vm.stopSound()"
                title="Stop sound">
            Stop sound
        </button>
        <ol class="nya-bs-select"
            name="repeatSelect" id="repeatSelect"
            title="Select an effect"
            ng-model="vm.data.repeatSelect" ng-change="vm.addNewNode(vm.data.repeatSelect)" data-live-search="true">
            <li nya-bs-option="option in vm.data.availableOptions" data-value="option.id">
                <!-- the text content of anchor element will be used for search -->
                <a>
                    {{option.name}}
                </a>
            </li>
        </ol>
    </div>
    <div class="btn-group">
        <button
                class="btn btn-primary"
                ng-click="vm.saveProject()"
                title="Save Project"
        >
           Save project
        </button>
    </div>



    <figure class="highlight">
    <!--
    This custom element defines the flowchart.
    -->
        <flow-chart
                class="jumbotron"
                chart="vm.chartViewModel">
        </flow-chart>
    </figure>


    <h1>{{vm.chartViewModel.getSelectedNodes()[0].data.name}}</h1>
    <div class="box off"style=" width: 300px; height:auto;"
         ng-hide="vm.chartViewModel.getSelectedNodes().length == 0 &&
          vm.chartViewModel.getSelectedConnections().length == 0" ng-animate="'box'">
        <div>
            <div ng-repeat="parameter in vm.chartViewModel.getSelectedNodes()[0].data.parameters">
                <label>{{parameter.name}}</label>
                <rzslider rz-slider-model="parameter.value" rz-slider-options="parameter.options" ></rzslider>
            </div>
        </div>
    </div>

</div>
