<div class="btn btn-primary" data-drag="true" ng-model="vm.list1"
     jqyoui-draggable ng-hide="!vm.list1.title">
    {{vm.list1.title}}
</div>
<!--<div class="btn btn-primary" data-drag="true"-->
     <!--data-jqyoui-options="{revert: 'invalid'}" ng-model="vm.list1"-->
     <!--jqyoui-draggable="{animate:true}" ng-hide="!vm.list1.title">-->
    <!--{{vm.list1.title}}-->
<!--</div>-->

<!--<div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="vm.list2" jqyoui-droppable-->
     <!--style='height:50px;margin-top: 20px;'>-->
    <!--<div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="vm.list2" jqyoui-draggable-->
         <!--ng-hide="!vm.list2.title">{{vm.list2.title}}-->
    <!--</div>-->
<!--</div>-->
